body {
    background-color: rgb(2, 0, 0);
    font-family: sans-serif;
}

#arena {
    background-image: url('asteroides-terra.gif');
    /* background-color: black; */
    margin: 100px 480px;
    position: center;
    cursor: none;
}

.player {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(10, 235, 10);
    pointer-events: none;
}

.player > p {
    color: rgb(226, 229, 227);
    font-size: 12px;
    width: max-content;
    position: relative;
    font-weight: bold;
    left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.hunter {
    background-color: rgb(14, 10, 141);
}

.dead {
    background-color: #ee0a0a;   
}

#changeNameContainer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#scoreBoard {
    color: lime;
    font-size: 12px;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #404040;
    padding: 4px 16px;
    line-height: 9px;
}

@keyframes circle {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(8)
	}
}
